.image-content img {
    position: absolute;
    height: 50px;
    left: 30px;
    top: 30px;
    width: 200px;
  }

.notas-fiscais-header {
    width: 150px;
    margin-top: 140px;
    margin-left: 70px;
    color: #00AD8C;
    font-style: normal;
    font-weight: 800;
    font-size: 19px;
    line-height: 18px;
    display: flex;
    align-items: center;
    
    /* border: 1px solid #00AD8C */
}

.aperto-de-mao img{
  position: absolute;
  color: #00AD8C;
  height: 30px;
  left: 20px;
  top: 135px;
  width: 40px;
  
  /* border: 1px solid #00AD8C; */
}

.barra {
  position: absolute;
  color: #00AD8C;
  height: 64px;
  left: 0px;
  top: 118px;
  width: 4px;
  background: #00AD8C;
  /* border: 1px solid black; */
}